target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Releases/
/c.sh
/dograal.sh
/config.xml
/config_out.xml
/config_backup.xml
/new_config.xml
/config_no_statics.xml
/config_no_subnets.xml
/migrate
/graal1/
/graal2/
/graal3/
/config_no_statics_hard.xml
/config_no_subnets_hard.xml
/test.sh
/native.sh
